{% extends template_path + "base.htm" %}

{% set title = "Home" %}

{% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-12" id="main-content">
                    <div class="container-content login">
                        <div class="loginlogin col-md-4 col-md-offset-4">
                            <div class="login-description">
                                <img src="{{ base_path }}src/img/logo.png" class="login-image" alt="Login image">
                            </div>

                            <form action="#" method="post" class="form-validate">
                                <div class="form-group">
                                    <label id="username-lbl" for="username">
                                        Username<span class="star">&nbsp;*</span>
                                    </label>
                                    <input type="text" name="username" id="username" value="" class="form-control" size="25">
                                </div>
                                <div class="form-group">
                                    <label id="password-lbl" for="password">
                                        Password<span class="star">&nbsp;*</span>
                                    </label>
                                    <input type="password" name="password" id="password" value="" class="form-control" size="25" maxlength="99" autocomplete="off">
                                </div>

                                <div class="checkbox">
                                    <label>
                                        <input id="remember" type="checkbox" name="remember" class="inputbox" value="yes">
                                        Remember me
                                    </label>
                                </div>

                                <a href="events.html" class="btn btn-primary">Log in</a>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="#">
                                    Forgot your password?
                                </a>
                            </form>
                        </div>


                    </div>
                </div>
            </div>
        </div>
{% endblock %}
