{% if twitterTagsEnable  %}
        <!-- Twitter share Tags -->
        <meta property="twitter:site"               content="{{ config.twitter.site }}">
        <meta property="twitter:site:id"            content=" {{ config.twitter.site_id }}">
        <meta property="twitter:card"               content="summary_large_image">
        <meta property="twitter:url"                content="{{ config.base_url }}{{ url }}">
        <meta property="twitter:title"              content="{{ title }}">
        <meta property="twitter:description"        content="{{ description }}">
        <meta property="twitter:image:src"          content="{{ image }}">
        <meta property="twitter:image:width"        content="{{ imageWidth }}">
        <meta property="twitter:image:height"       content="{{ imageHeight }}">
{% endif %}